header {
	background-color: #f0c52e;
	background-size: 1160px 299px;
	background-position: top, center;
	background-repeat: no-repeat;
}
.catalog-menu {
	font-family: "Gilroy", "Arial", sans-serif;
	color: #000;
}
