@font-face {
	font-family: "Gilroy Light";
	src: url("../asset/fonts/gilroylight.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy Light";
	src: url("../asset/fonts/gilroylight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../asset/fonts/gilroyextrabold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../asset/fonts/gilroyextrabold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans";
	src: url("../asset/fonts/opensans.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans";
	src: url("../asset/fonts/opensans.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans Light";
	src: url("../asset/fonts/opensanslight.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans Light";
	src: url("../asset/fonts/opensanslight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-weight: 300;
	line-height: 30px;
	font-size: 15px;
	color: #464646;
	padding-left: 140px;
	padding-right: 140px;
	padding-top: 40px;
}
.main-header-logo {
	position: absolute;
	width: 163px;
	height: 35px;
	top: 20px;
	left: 100px;
}
.search{
	position: absolute;
	color:#000;
	width: 138px; 
	height: 30px;
	top: 83px;
	left: 238px; 
	opacity: 30%;
}

.nav-search-item::before {
	content: "";
	background-image: url("../asset/svg/search.svg");
	background-size: cover;
	width: 10px;
	height: 10px;
	margin-bottom: -25px;
	margin-left: 28px;
	display: inline-block;
	margin-right: 14px;
}
.login-link{
	color:#000;
	width: 72px; 
	height: 30px;
	top: 83px;
	left: 767px; 
}
.login-link::before {
	content: "";
	background-image: url("../asset/svg/user.svg");
	width: 10px;
	height: 10px;
	display: inline-block;
	background-size: cover;
	margin-right: 14px;
}
.shape{
	position: absolute;
	color:#000;
	width: 99px; 
	height: 30px;
	top: 83px;
	left: 1000px; 
	margin-left: 50px;
}
.shape::before {
	content: "";
	background-image: url("../asset/svg/shape.svg");
	width: 10px;
	height: 10px;
	display: inline-block;
	background-size: cover;
	margin-right: 14px;
}
.cart {
	position: absolute;
	color:#000;
	width: 88px; 
	height: 30px;
	top: 83px;
	left: 1170px; 
	margin-left: 34px;
}
.cart::before {
	content: "";
	background-image: url("../asset/svg/cart.svg");
	width: 10px;
	height: 10px;
	display: inline-block;
	background-size: cover;
	margin-right: 14px;
}



h3 {
	font-family: "Gilroy";
}

.user-navigation {
	font-family: "Open Sans Light";
}

ul {
	list-style: none;
}

.btn {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000;
	background-color: #f0c52e;
}

a {
	text-decoration: none;
	list-style: none;
	color:#000;
}
.user-navigation a {
	color: #000;
}

footer {
	background-color: #464646;
	background-repeat: no-repeat;
	background-size: 1440px 323px;
	background-position: top center;
	color: #fff;
	list-style: none;
	
}

footer a {
	color: #fff;
	
}
.footer-btn {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}
.login-link-footer::before {
	content: "";
	background-image: url("../asset/svg/user.svg");
	width: 13px;
	height: 12px;
	color: #ffc600;
	display: inline-block;
	background-size: cover;
}
.shape-footer::before {
	content: "";
	background-image: url("../asset/svg/shape.svg");
	width: 10px;
	height: 10px;
	color: #ffc600;
	display: inline-block;
	background-size: cover;
}
.cart-footer::before {
	content: "";
	background-image: url("../asset/svg/cart.svg");
	width: 12px;
	height: 9px;
	color: #ffc600;
	display: inline-block;
	background-size: cover;
}

.communication-form {
	display: none;
}
.map-big {
	display: none;
}
.catalog-menu {
	display: none;
}
.login-form {
	display: none;
}
.modal-close {
	display: none;
}
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
