@font-face {
	font-family: "Gilroy Light";
	src: url("../asset/fonts/gilroylight.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy Light";
	src: url("../asset/fonts/gilroylight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../asset/fonts/gilroyextrabold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../asset/fonts/gilroyextrabold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans";
	src: url("../asset/fonts/opensans.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans";
	src: url("../asset/fonts/opensans.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans Light";
	src: url("../asset/fonts/opensanslight.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans Light";
	src: url("../asset/fonts/opensanslight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

body {
	font-family: "Open Sans Light";
}
.communication-form {
	display: none;
}
.map-big {
	display: none;
}
.login-form {
	display: none;
}
.modal-close {
	display: none;
}


.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
